name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: ./.github/workflows/actions/install
        with:
          install: nuxt-module-template
          
      - name: Format
        run: bun run format

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - uses: ./.github/workflows/actions/install

      - name: Build
        run: bun run build

      - name: Test
        run: bun run test

      - name: Typecheck
        run: bun run typecheck
